@import "../colors.scss";

.clickable:hover {
    cursor: pointer;
}
main {
    height: 100vh;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 70%, rgb(3, 1, 36) 100%);
}
.form-body {
    font-size: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1rem 3rem 1rem;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: 600;
    width: 50%;
    margin-top: 20px;
    background-color: $secondary;
    margin-left: auto;
    margin-right: auto;
    max-width: 60vh;
}
.form-title {
    margin: 10px;
}
.form-input-container {
    border-radius: 6px;
}
.form-input {
    font-size: 0.5em;
    padding: 3px;
    display: block;
    margin: 10px;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    font-family: var(--font-mono);
}
.form-submit {
    font-size: 0.5em;
    font-family: var(--font-mono);
    background-color: black;
    border-radius: 7px;
    padding: 5px;
    margin: 5px;
    font-family: var(--font-mono);
    font-weight: 400;
}
.form-submit:hover {
    cursor: pointer;
}